* {
  box-sizing: border-box;
}

.container {
  height: 600px;
  margin: 30px auto;
  width: 800px;
  background-color: #000;  
}

.row {
  display: inline-block;
  width: 50px;
}

.gridsquare {
  height: 40px;  
  box-sizing: border-box;
  padding-top: 10px;
 
}

.invader {
    text-align: center;
    background-color: red;
}

.ship {
    text-align: center;
    background-color: red;
}

.laser {  
   border-left: 4px solid blue;
   margin-left: 20px;
}