* {
  box-sizing: border-box;
}

.container {
  height: 600px;
  margin: 30px auto;
  width: 800px;
  background-color: #000;  
}

.row {
  display: inline-block;
  width: 50px;
}

.gridsquare {
  height: 40px;  
  box-sizing: border-box;
  padding-top: 10px;
 
}

.invader {
    text-align: center;
    background-color: red;
}

.invader1 {
    background-image: url('../images/invader1.png');
    background-size: cover;
    color:transparent;
}

.invader2 {
    background-image: url('../images/invader2.png');
    background-size: cover;
    color:transparent;
}

.invader3 {
    background-image: url('../images/invader3.png');
    background-size: cover;
    color:transparent;
}

.ship {
    text-align: center;
    background-color: red;
}

.laser {  
   border-left: 4px solid green;
}


.invadersLaser {
    border-left: 4px solid blue;
}