@font-face {
    font-family: arcade;
    src: url('font/PressStart2P.ttf');
}

* {
  box-sizing: border-box;
}

body {
    background-image: url('../images/background.jpg');
}

.container {
  height: 600px;
  margin: 30px auto;
  width: 800px;
  background-color: #000; 
}

.row {
  display: inline-block;
  width: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

.gridsquare {
  height: 40px;  
  box-sizing: border-box;
  padding-top: 10px;
  color: #000;
 
}

.invader1 {
    background-image: url('../images/invader1.png');
    background-size: cover;
    color:transparent;
}

.invader2 {
    background-image: url('../images/invader2.png');
    background-size: cover;
    color:transparent;
}

.invader3 {
    background-image: url('../images/invader3.png');
    background-size: cover;
    color:transparent;
}

.ship {
    background-image: url(../images/ship.png);
    background-size: 52px 41px;
    color: transparent;
}

.laser {  
    background-image: url(../images/shipLaser.png);
    background-size: 10px 30px;
    background-position-x: 24px;
    background-repeat: no-repeat;
}

.invadersLaser {
    background-image: url(../images/invadersLaser.png);
    background-size: 5px 30px;
    background-position-x: 24px;
    background-repeat: no-repeat;
}

.lives {
    font-family: arcade;
    color: #fff;
    position: absolute;
    font-size: 22px;
}

.lives ul {
  list-style: none;
}

.points {
    font-family: arcade;
    color: #fff;
    position: absolute;
    float: right;
    left: 1060px;
    top: 32px;
    padding-left: 40px;
    text-align: center;
    font-size: 22px;
}

.lives-title {
  padding-left: 36px;
}

.points-total {
    padding-top: 13px;
    color: green;
    font-size: 26px;
}

.game-wrapper {
  display: none;
}

.intro {
  height: 600px;
  margin: 30px auto;
  width: 800px;
  background-color: #000; 
  text-align: center;
}

.intro-title {
    font-size: 60px;
    padding-left: 70px;
    padding-top: 40px;
    color: #fff;
    font-family: arcade;
    display: inline-block;
}

.intro-subtitle {
    color: green;
    font-family: arcade;
    font-size: 63px;
    padding-left: 44px;
}

.intro-invaders {
    color: #fff;
    font-family: arcade;
    padding-top: 20px;
}

.intro-invaders img {
   width: 40px;
}

.intro-invaders ul {
  list-style-type: none;
}

.intro-start {
  padding-top: 90px;
  font-size: 30px;
  font-family: arcade;
}

.intro-start a {
  color: #fff;
  text-decoration: none;
}

.intro-deathStar {
   margin-left: 170px;
   margin-top: 5px;
}

.feedbackmodal-content {
    width: 400px;
    position: absolute;
    top: 220px;
    left: 450px;
    font-family: arcade;
    background-color: gray;

}

.blink_me {
  animation: blinker 1s linear infinite;
}

.modal-content {
    background-color: grey;
    font-family: arcade;
}

.modal-body {
    color: green;
    font-size: 20px;
}

.death-star1 {
    background-image: url(../images/deathStar1.jpeg);
    background-size: 50px 40px;
    background-position-x: 0px;
    color: transparent;
}

.death-star2 {
    background-image: url(../images/deathStar2.jpeg);
    background-size: 53px 40px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    color: transparent;
}

.explosion {
    background-image: url(../images/explosion.png);
    background-size: 52px 41px;
    color: transparent;
}

@keyframes blinker {  
  50% { opacity: 0; }
}